[user]
	name = google
	email = google@gmail.com
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	log = auto
[alias]
	st = status -uno
	co = checkout
	ci = commit
	re = reset
	lg1 = log --graph --pretty=format:'%C(yellow)%p%Creset -%C(red)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	lg = log --graph --all --topo-order --decorate --oneline --boundary

